* {
	 all: unset;
	 font-family: 'Hack Nerd Font Mono';
}
 
.bar-container {
	 margin: 0 8px 4px;
}
 
.bar-container .bar-section {
	 background: #363a4f;
	 border-radius: 0px;
	 padding: 8px 12px;
}
 .bar-container .bar-section image {
	 -gtk-icon-size: 14px;
}
 .bar-container .bar-section.power, .bar-container .bar-section.screenrec, .bar-container .bar-section.apps {
	 padding: 8px 11px;
}
 .bar-container .bar-section.power label, .bar-container .bar-section.screenrec label, .bar-container .bar-section.apps label {
	 padding: 0 3px;
}
 .bar-container .bar-section.power {
	 color: #f5a97f;
}
 .bar-container .bar-section.battery, .bar-container .bar-section.network, .bar-container .bar-section.volume, .bar-container .bar-section.bluetooth {
	 color: #8aadf4;
}
 .bar-container .bar-section.clock, .bar-container .bar-section.apps, .bar-container .bar-section .system-resource-widget {
	 color: #cad3f5;
}
 .bar-container .hl-workspace {
	 padding: 0 4px;
	 border-radius: 2px;
}
 .bar-container .hl-workspace-active {
	 padding: 0 8px;
	 background: #7dc4e4;
	 box-shadow: 3px 3px 2px #181926;
}
 .bar-container .traymenu modelbutton {
	 background: #1e2030;
	 padding: 8px;
}
 .bar-container .traymenu modelbutton:hover {
	 background: #363a4f;
}
 tooltip {
	 all: unset;
	 background-color: transparent;
	 border: none;
}
 tooltip > * > * {
	 background-color: #24273a;
	 border-radius: 4px;
	 border: 1px solid #8bd5ca;
	 color: #91d7e3;
	 padding: 8px;
	 margin: 4px;
}
 .calendar-container {
	 background: #363a4f;
	 padding: 10px;
}
 .calendar-container header {
	 background-color: #5b6078;
	 color: #b7bdf8;
	 padding: 10px;
}
 .calendar-container grid > .day-name {
	 font-weight: bold;
	 color: #f0c6c6;
}
 .calendar-container .day-number.today {
	 background-color: #494d64;
	 color: #b7bdf8;
	 border-radius: 10%;
}
 .calendar-container .day-number.other-month {
	 color: gray;
}
 
