$base: #24273a;
$mantle: #1e2030;
$crust: #181926;

$text: #cad3f5;
$subtext0: #a5adcb;
$subtext1: #b8c0e0;

$surface0: #363a4f;
$surface1: #494d64;
$surface2: #5b6078;

$overlay0: #6e738d;
$overlay1: #8087a2;
$overlay2: #939ab7;

$blue: #8aadf4;
$lavender: #b7bdf8;
$sapphire: #7dc4e4;
$sky: #91d7e3;
$teal: #8bd5ca;
$green: #a6da95;
$yellow: #eed49f;
$peach: #f5a97f;
$maroon: #ee99a0;
$red: #ed8796;
$mauve: #c6a0f6;
$pink: #f5bde6;
$flamingo: #f0c6c6;
$rosewater: #f4dbd6;

* {
  all: unset;
  font-family: 'Hack Nerd Font Mono';
}

.bar-container {
  margin: 0 8px 4px;

  .bar-section {
    background: $surface0;
    border-radius: 0px;
    padding: 8px 12px;

    image {
      -gtk-icon-size: 14px;
    }

    // Padding
    &.power,
    &.screenrec,
    &.apps {
      padding: 8px 11px;
      label {
        padding: 0 3px;
      }
    }

    &.power {
      color: $peach;
    }

    &.battery,
    &.network,
    &.volume,
    &.bluetooth {
      color: $blue;
    }

    &.clock,
    &.apps,
    .system-resource-widget {
      color: $text;
    }
  }

  .hl-workspace {
    padding: 0 4px;
    border-radius: 2px;
  }

  .hl-workspace-active {
    padding: 0 8px;
    background: $sapphire;
    box-shadow: 3px 3px 2px $crust;
  }

  .traymenu modelbutton {
    background: $mantle;
    padding: 8px;

    &:hover {
      background: $surface0;
    }
  }
}

tooltip {
  all: unset;
  background-color: transparent;
  border: none;

  >*>* {
    background-color: $base;
    border-radius: 4px;
    border: 1px solid $teal;
    color: $sky;
    padding: 8px;
    margin: 4px;
  }
}

.calendar-container {
  background: $surface0;
  padding: 10px;

  header {
    background-color: $surface2;
    color: $lavender;
    padding: 10px;
  }

  grid > .day-name {
    font-weight: bold;
    color: $flamingo;
  }

  .day-number.today {
    background-color: $surface1;
    color: $lavender;
    border-radius: 10%;
  }

  .day-number.other-month {
    color: gray;
  }
}
